<!-- <div class="about-content"> -->
  <div class="about-block">
    <span class="txt anim-text-flow">
IMNOT
LAZY
IJUST
REST
BEFORE
IGET
TIRED
 ‏
    </span>
  </div>

  <div class="about-me">
    <div>
      <h2><span>Who?</span></h2>
      <p>
        A tech enthusiast who dabbles in various forms of technology.
        <br />
        <br />[ 2019 ] Singapore Institute of Technology
        <br />BEng (Hons) Information and Communications Technology
        <br /><span class="text-muted">(Software Engineering)</span>
      </p>
    </div>

    <div>
      <h2>Where?</h2>
      <p>
        [ 2018 - Current ]
        <br />Associate Software Engineer @ Govtech Singapore
        <br />
        <br />[ 2018-2018 ]
        <br />Associate Security Consultant @ Pulsesecure Pte. Ltd
        <br />
        <br />[ 2017-2018 ]
        <br />Freelance web designer @ Paperspace Pte. Ltd
      </p>

    </div>
  </div>
<!-- </div> -->

<script>
$('.txt').html(function(i, html) {
  var chars = $.trim(html).split("");
  return '<span>' + chars.join('</span><span>') + '</span>';
});
</script>