<div class="site-greetings" id="site-greeting">
  HELLO
</div>
<div class="site-introduction">
  <p style="font-size: 20pt;">
    I am Kai Hong from <b>Singapore</b> <img src="../assets/images/singapore-flag-icon-64.png" style="height: 10pt"/>
  </p>
  <p>
    <span style="font-weight: 400;"><b>{</b></span>
      <span class="underline--magical-red">Associate Software Developer</span> @ Govtech
      <span style="font-weight: 400;"><b>}</b></span>
  </p>
  <p>
    <br /><br />
    Site is going through some changes so hold tight!
  </p>
</div>