body {
  font-family: 'Source Sans Pro', sans-serif;
  font-display: auto;
  font-size: 14pt;
}

.links-section {
  margin-top: 50px;
  margin-bottom: 20px;
}

li > p {
  /* margin-left: 43px; */
  margin-top: 0px;
}

strong {
  font-weight: 800;
}

h4.experience-name {
  font-weight: 600;
}

h6 {
  font-weight: 600;
}

hr.style-two {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  /* width: 50%; */
  /* height: 1px; */
  border-bottom: 1px dashed rgb(182, 182, 182);
  /* background: #999; */
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)); */
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    animation-duration:1.2s;
}

.badge-timeline {
  font-weight: 400;
  opacity: 0.9;
}

.badge-skills {
  filter: brightness(120%);
  opacity: 0.8;
  font-weight: 200;
}

.badge-qualif {
  font-size: 1em;
  width: 40px;
}

.badge-year {
  font-weight: 700;
}

.badge-aws {
  color: #FF9900;
}

.badge-redhat {
  color: #F5606D;
}

.badge-google {
  color: #4285F4;
}

.qualif-desc {
  padding-left: 88px;
}

.push-down {
  position: fixed;
  margin-top: 26vh;
  height: 100vh;
}

.push-down-one-page {
  position: relative;
  top: 95vh;
  /* height: 100vh; */
  padding-top: 10vh;
  padding-bottom: 30vh;
}

.my-name {
  font-size: 90pt;
  line-height: 85pt;
  font-weight: 900;
  /* white-space: nowrap; */
}

.k-letter {
  letter-spacing: 0.11em;
}

.a-letter {
  letter-spacing: 0.05em;
}
.subtext {
  white-space: nowrap;
  color: gray;
  position: relative;
  left: 8px;
  font-weight: 300;
}

.aws-icon-align {
  position: relative;
  top: 4px;
}

.experience {
  cursor: pointer;
  color: #1d1d1d;
  transition: background 0.1s linear, color 0.1s linear;
}

.experience:hover {
  background-color: #ff6675;
  color: #ffffff;
}

.experience-text {
  margin-top: 0;
}

.experience-highlights {
  padding: 0;
  /* padding: 0;
  margin: 0; */
}

#qualifications {
  margin-top: 30px;
}

ul.link-list {
  font-size: 1.8em;
  color: rgb(95, 95, 95);
}

ul.link-list > li {

}

ul.link-list a {
  color: rgb(95, 95, 95);
  transition: all 0.2s ease-in-out;
}

ul.link-list a:hover {
  color: #007bff;
  /* color: #ff6675; */
}

ul.highlights-list {
  font-size: 0.9em;
}

ul.article-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 20px;
}

ul.article-list > li:before {
  content: '📄';
  margin-left: -20px;
  margin-right: 10px;
}

.card.card-articles {
  margin-top: 30px;
}

table.table-details {
  font-size: 0.9em;
}


@media only screen and (max-width: 970px) {
  .push-down-one-page {
    background-color: white;
  }
}