// Variables
$font-color: rgb(228, 228, 228);
$muted-font-color: rgb(177, 177, 177);
// @import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,400');
@mixin fade-transition($speed) {
	-webkit-transition: $speed linear;
  -moz-transition: $speed linear;
  transition: $speed linear;
}

@mixin grayscale($amount) {
  -webkit-filter: grayscale($amount);
  -moz-filter:    grayscale($amount);
  -ms-filter:     grayscale($amount);
  -o-filter:      grayscale($amount);
}

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Fira Sans', sans-serif;
  background: #252525;
  color: $font-color;

}
.bg-image {
  background-image: url('../images/bg.jpg');
  opacity: 0.5;
  background-color: #252525;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:active {
  outline: none;
}

// For fadein transition
#wrapper {
  display: none;
}
.subgrid {
  display: grid;
}

// WRAPPER FOR SITE
.grid {
  height: 100vh;
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 120px;
}

.header {
  display: flex;
  // justify-content: space-between;
  justify-content: right;
  align-items: flex-end;
  // font-family: 'Fira Sans', sans-serif;

  .site-logo {
    background: rgb(56, 56, 56);
    color: rgb(209, 209, 209);
    border: rgb(133, 133, 133) solid 1px;
    // color: $font-color;
    font-weight: 200;
    font-size: 18pt;
    padding: 4px;
    opacity: 0.7;
    @include fade-transition(0.2s);

    &:hover {
      opacity: 1;
    }
  }

  button {
    color: $muted-font-color;
    font-weight: 200;
    font-size: 12pt;
    background: none;
    text-transform: uppercase;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    padding-bottom: 20px;
    border-bottom: 4px solid transparent;
    transition: 0.15s linear;

    &:hover {
      cursor: pointer;
      border-bottom: 4px solid #fa8484;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);

  .site-greetings {
    grid-area: 2 / 2 / 1 / 7;
    // grid-column-start: 2;
    // grid-column-end: 2;
    // grid-row-start: 1;
    // grid-row-end: 5;
    align-self: end;
    font-weight: 800;
    font-size: 82pt;
    text-shadow: 0 0 4px rgb(38, 38, 38);
    transition: opacity 0.7s ease-in;

    color: #d5d5d5;
    // background-color: #d5d5d5;
    letter-spacing: .05em;
    text-shadow:
      4px 4px 0px #2c2c2c,
      7px 7px 0px rgba(0, 0, 0, 0.2);

  }

  .site-introduction {
    grid-area: 2 / 2 / 2 / 5;
    font-weight: 300;
    // text-shadow: 0 0 2px rgb(38, 38, 38);
    font-size: 14pt;
    color: rgb(238, 238, 238);
  }
}
.social {
  color: rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  #github-link {
    background: #4077c0;
    @include grayscale(50%);
    &:hover {
      background: darken(#4078c0, 20%);
      @include grayscale(0%);
    }
  }
  #twitter-link {
    background: rgb(29, 160, 242);
    @include grayscale(50%);
    &:hover {
      background: darken(#1DA1F2, 20%);
      @include grayscale(0%);
    }
  }
  #instagram-link {
    background: #262626;
    @include grayscale(50%);
    &:hover {
      background: darken(#262626, 20%);
      @include grayscale(0%);
    }
  }
  a {
    text-decoration: none;
    font-weight: 300;
    text-shadow: 0 0 1px rgb(38, 38, 38);
    color: rgb(228, 228, 228);
    margin: 10px;
    // line-height: 14pt;
    padding: 5px;
    border: 1px solid transparent;
    height: 20px;
    border-radius: 3px;
    @include fade-transition(0.2s);

    &:hover {
      color: $font-color;
      border: 1px solid #cccccc;
    }
  }
}

.underline--magical-red {
  background-image: linear-gradient(120deg, #fa8484 0%, #b62c2c 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

.underline--magical {
  // background-image: linear-gradient(120deg, #84c7fa 0%, #2c41b6 100%);
  background-image: linear-gradient(120deg, #2c41b6 0%, #84c7fa 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

.about-title {
  grid-area: 1 / 3 / 1 / 5;
  font-size: 26pt;
  font-weight: 800;
  text-align: center;
}
.about-content {
  grid-area: 1 / 3 / 4 / 5;
  text-align: center;
  font-weight: 300;
}

@media screen and (max-width: 640px) {
  .grid {
    margin: 0;
    height: 100vh;
    grid-template-rows: 50px 1fr 120px;
  }
  .header {
    align-items: flex-start;
    .site-logo {
      font-size: 14pt;
    }
    .site-nav {
      button {
        font-size: 10pt;
      }
    }
  }
  .content {
    .site-greetings {
      grid-area: 1 / 1 / 1 / 7;
      text-align: center;
      font-size: 60pt;
    }
    .site-introduction {
      grid-area: 2 / 1 / 2 / 7;
      text-align: center;
    }
  }
}